#root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  min-height: 50vh;
  text-align: center;
}

@media screen and (max-width: 320px){

#image-section{
    width: 100%;
    height: auto;
  };

.imgBox{
    max-width: 400px;
  };
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (max-width: 480px) {
  .login-form {
    padding: 30px 20px;
  }
    
  .title {
    font-size: 30px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 20px;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Keeps form compact */
}

.login-form {
  background-color: #ffffff;
  color: #000000;
  border-radius: 12px; /* Rounded corners */
  padding: 2rem;
  width: 60%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Subtle shadow for depth */
  text-align: center;
}

/* Submit button */
.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #00492b; /* Green */
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: calc(var(--spacing) * 2);
}
.submit-btn:hover {
  background-color: #027042; /* Slightly darker green on hover */
}
.submit-btn:active {
  background-color: #013b23; /* Even darker green on click */
}
.submit-btn:disabled {
  background-color: #a5d6a7; /* Light green when disabled */
  cursor: not-allowed;
}

.register-btn {
  width: 100%;
  padding: 12px;
  background-color: #000000; /* Black */
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: calc(var(--spacing) * 2);
}
.register-btn:hover {
  background-color: #333333; /* Slightly darker black on hover */
}
